<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <title>Remote Support</title>
</head>

<body>
    <div class="container-fluid h-100 w-100">
        <div class="row h-100 w-100">
            <div class="col-4" id="left">
                <h5>Checklists</h5>
            </div>
            <div class="col-8" id="right">
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</html>